/*@font-face {
    font-family: 'Source Code Pro', monospace;
    font-family: 'Ubuntu Mono', monospace;

    /*font-family: 'Source Code Pro', monospace;
    @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
    */
    /*font-family: 'Liberation Mono';
    src: url('/static/global/fonts/liberationmono-regular-webfont.woff2') format('woff2'),
         url('/static/global/fonts/liberationmono-regular-webfont.woff') format('woff');*/
    /*font-weight: normal;
    font-style: normal;
}*/

:root {
    --background: #212121;
    --lightbackground: #2e2e2e;
    --text: #eeeeee;
    --yellow: #ffca28;
    --green: #d4e157;
    --red : #f44336;
    --purple : #ec407a;
    --lightpurple : #9932CC;
    --darkgreen : #43a047;
    --rss : #ffcc80;
    --gray: gray;
    --black: black;
    --darkgray: #444444;
    --lightgray: #bdbdbd;
    --orange: orange;
    --fosfgreen: #76ff03;
    --violet: #673ab7;
    --blue: #90caf9;

    --plyr-color-main: var(--yellow);
    --plyr-audio-controls-background: transparent;
    --plyr-audio-control-color: var(--text);
    --plyr-audio-control-color-hover: var(--background);
    --plyr-progress-loading-background: var(--yellow);
    --plyr-audio-progress-buffered-background: rgba(255, 255, 255, 0.3);

  }

  body {
    font-family: 'Source Code Pro', monospace;
    /*font-family: 'Ubuntu Mono', monospace;*/
    scrollbar-color: var(--gray) var(--darkgray);
    font-family: 'Liberation Mono';
    /*background: var(--lightbackground);*/
    /*background: linear-gradient(to top right, #212121 0%, #444444 51%);*/
    background-image: linear-gradient( 83.1deg, rgba(19,30,73,1) -1.1%, rgba(199,43,255,1) 115.3% );
    color:  var(--text);
  }



  /* SCROLLBAR */

  ::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: var(--darkgray);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--gray);
  }





  /* Framework*/

  .link-yellow{
    color: var(--lightpurple);
  }

  .link-yellow:hover , .link-yellow:active{
    color: var(--black);
    background-color: var(--lightpurple);
  }

  .btn{
    text-decoration: none;
    background: none;
    border: solid 1px;
    padding-right: 0.2em;
    padding-left: 0.2em;
    user-select: none;
  }

  .btn-block{
    text-align: center;
    display: block;
    width: 100%;
  }

  .btn-yellow{
    color: var(--lightpurple);
  }

  .btn-yellow:hover , .btn-yellow:active{
    color: var(--black);
    background-color: var(--lightpurple);
  }



  .icon  {
    height: 1em;
    width: auto;
    vertical-align:middle;
  }

  .iconlarge{
    height: 2em !important;
  }

  .hide{
    display: none;
  }

  .unhide{
    display: block;
  }

  .js-player{
    width: 100%;
  }


  .plyr__controls{
    padding: 0 !important;
    border-bottom: solid var(--yellow) 1px;

  }


  br.big{
    margin: 1em;
  }

  /* HOMEPAGE */

  .hometitle{
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 2.3em;
    max-width: 100%;
    text-align: center;
  }


  h1.hometitle:after {
    content: '_';
    opacity: 0;
    display: inline-block;
    animation: underscore_blink 0.6s linear infinite alternate;
    color: #9932CC;
  }

  h1.hometitle:after {
    content: '_';
    opacity: 0;
    display: inline-block;
    animation: underscore_blink 0.6s linear infinite alternate;       /*animació coding*/
  }

  h1.hometitle:before {
    content: "\00a0";
  }

  @keyframes underscore_blink {
    50% {
        opacity: 0;
    }
    51%{
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
    1% {
        opacity: 0;
        }
    }

  .homesubtitle{
    color:  var(--text);
    text-align: center;
    margin-top: 0em;
    margin-bottom: 5em;
    }


  .homecategory{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 0.2em;
  }

  .linkgroup {
    text-align: center;
  }

  .linkgroup a{
    margin-right: 0.5em;
    margin-left: 0.5em;
    text-decoration: none;
    display: inline-block;
  }

  .linkgroup img{
    height: 1.8em;
    width: auto;
    vertical-align:middle;
  }

  .linkgroup p{
    display: inline-block;
    margin-top: 0.5em;
    margin-bottom: 0em;
    font-size: 1.4em;
  }



  /* GENERAL PAGES */
  h1{
    /*font-family: 'Love Light', cursive;*/
    /*font-family: 'Source Code Pro', monospace;*/
    font-family: 'Varela Round', sans-serif;
  }
  h2,h3{
    font-family: 'Varela Round', sans-serif;
    /*font-family: 'Source Code Pro', monospace;*/
    /*font-family: 'Ubuntu Mono', monospace;*/
    /*font-family: 'Nunito', sans-serif;*/
    /*font-family: 'Love Light', cursive;*/
    text-align: center;
  }


  .pagetitle{
    margin-bottom: 0;
    font-size: 2em;
    text-align: center top;
    color: var(--text);
  }


  @media (min-width: 36em) {
    .content{
        margin-left: 3em;
        margin-right: 3em;
    }
  }

  .content{
    margin-bottom: 3em;
  }

  /* BREACRUMBS */

  ul.breadcrumb {
    padding: 0.7em;
    list-style: none;
    padding-bottom: 0.5em;
    border-bottom: solid 1px;
  }

  ul.breadcrumb li {
    display: inline;
  }

  ul.breadcrumb li+li:before {
    padding: 0.5em;
    content: "\003E\00a0";
  }


  ul.breadcrumb li a{
    color: var(--green);
    text-decoration: none;
  }


  ul.breadcrumb li a:hover , ul.breadcrumb li a:active {
    background-color: var(--green);
    color: var(--background);
  }


  /* MENU PAGES */

  .menucontainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  ul.menuindex{
    list-style: none;
    padding: 0;
    text-align: left;
    display: inline-block;
    margin: auto;
    border: me;
  }

  ul.menuindex li{
    margin-top: 1em;
  }


  ul.menuindex p{
    display: inline;
    font-size: 1.1em;
  }

  ul.menuindex div.image{
    display: inline;
  }

  ul.menuindex a{
    text-decoration: none;
  }

  ul.menuindex img{
    vertical-align:middle;
    height: 2.5em;
    width: auto;
  }



  /* Step Mixes */
  .stepmixbtn{
    float: right;
    margin-top: 0.3em;
    border-bottom: solid var(--yellow) 1px;
    text-decoration: none;
    color: var(--yellow);
  }

  .stepmixbtn:hover , .stepmixbtn:active{
    color: var(--black);
    background-color: var(--yellow);
  }


  /* instagram */
  .instagramcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul.instagramindex{
    margin-top: 0;
    list-style: none;
    padding: 0;
  }

  ul.instagramindex li{
    margin-top: 1em;
  }

  ul.instagramindex li:hover{
    text-decoration: underline solid #90caf9;
  }

  ul.instagramindex div.date{
    display: inline;
    color: var(--lightpurple);
  }

  ul.instagramindex div.title{
    display: inline;
    color: var(--blue);
  }

  ul.instagramindex img{
    display: inline-block;
  }

  ul.instagramindex a{
    text-decoration: none;
    padding: 0.5em;
  }

  ul.instagramindex img{
    vertical-align:middle;
    height: 2.5em;
    width: auto;
  }

  .rss{
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 3.5em;
  }

  .rss p{
    display: inline;
    color: var(--rss);
  }

  .rss a{
    text-decoration: none;
  }

  .rss p:hover, .rss p:active{
    background-color: var(--rss);
    color: var(--background);
  }

  .rss a img{
    height: 1.4em;
    width: auto;
    vertical-align:middle;
  }


  .scrollable-element {
    scrollbar-color: dark;
  }

  /* STEMS */



  .btn-mute, .btn-solo{
    outline: solid c 1px;
    padding-right: 0.2em;
    padding-left: 0.2em;
    color: var(--text);
    user-select: none;
  }

  /*.btn-mute.active{
    background: var(--red);
    color: white;
  }
  .btn-solo.active{
    background: var(--darkgreen);
    color: white;
  }*/

  .playlist{
    margin-top: 1em;
  }

  .controlbar{
    margin-top: 0.5em;
    display: inline-block;
    text-align: center;
  }

  .controlbar button{
    display: inline-block;
    margin-top: 0.2em;
    font-size: 0.95em;
  }

  .seekbar, .zoombar, .playpausebar{
    margin-top: 0.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
  }


  .loading-data{
    margin-top: 1em;
    overflow-wrap: break-word;
  }

  .automaticscroll{
    margin-bottom: 1em;
  }

  body.stem{
    max-width: unset;
  }

  .content.stem{
    margin:0;
  }


  /* instagram */

  .youtube{

    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .mixbtn{
    margin: 15px;
    border: solid 2px var(--blue);
    padding: 2px;
    size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }


  .loadingdatamsg{
    color: var(--red)
  }

  .loadingdatamsg:after {
    content: '...';
    opacity: 0;
    display: inline-block;
    animation: underscore_blink 0.7s linear infinite alternate;
  }

  .button-47 {
    align-items: center;
    background: #FFFFFF;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #ffffff;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 56px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    text-decoration: none;
    width: auto;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .col{
    float: left;
  }
  .col + .col{
    float: left;
    margin-left: 20px;
  }
